<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #ecedf0cd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/image/Logo1.png" alt="" width="250px" height="auto" style="margin: 0; padding: 0;">
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-center">
      <ul class="navbar-nav font" >
        <li class="nav-item px-4">
          <a class="nav-link" aria-current="page" href="#pocetna">Početna</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#onama">O nama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="#nasi-proizvodi">Naši proizvodi</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#smestaj">Smeštaj</a>
        </li>
        <li class="nav-item px-4">
          <a class="nav-link" href="#kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--
  <div class=" text-center">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fdaa;">
          <ul class="navbar-nav font m-auto">
            <li class="nav-item">
              <a class="nav-link px-4" href="#">Pocetna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-4" href="#">O nama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4" href="#">Nasi proizvodi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4" href="#">Kontakt</a>
            </li>
          </ul>
    </nav>
</div>
-->