<div id="onama" class="container my-4">
  <div class="row">
    <div class="col-6 opis">
      <h2>Etno domaćinstvo Cvetić</h2>
      <p>
        Domaćinstvo Cvetić smešteno je u centralnom delu Šumadije blizu prelepog jezera Gruža.
        Ovaj umirujući predeo je pogodan za beg od svakodnevne žurbe i problema gradskog života.
        
      </p>
      <p>
        Takođe ovaj predeo je prepun drveća i livada tako da je svež vazduh ovde neizostavni deo.
      </p>
      <p>
        Etno domaćinstvo Cvetić posluje od 2018 godine i do sada smo imali pregršt zadovoljnih gostiju,
        a rade se i pripreme za proširivanje domaćinstva i omogućavanje jos smeštaja za naše divne goste.
      </p>
    </div>
    <div class="col-6">
      <img src="../../assets/image/slika 2.jpg" alt="">

    </div>
  </div>

</div>
