
.pozadina{
    background-image: url('../../assets/image/slika\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
img{
    width: 30%;
    height: auto;
}
h2{
    font-size: 42px;
    color:rgb(255, 0, 0);
}
