<div class="container-fluid pozadina text-white">
  <div class="m-4 p-4">
    <h5 class="text-center mt-4 pt-4">  ETNO DOMAĆINSTVO CVETIĆ</h5>
    <h2 class="text-center mb-4 pb-4">Sadržaj domaćinstva</h2>
    <div class="row p-3">
      <div class="col-4">
        
        <mat-icon class="d-inline" aria-hidden="false" aria-label="Example home icon"> cabin </mat-icon><h4 class="d-inline">Apartmani</h4>
        <br><br>
        <p>
          U sklopu etno domaćinstva Cvetć nalaze se dva luksuzna apartmana sa bračnim ležajem i dva pomoćna ležaja.
           Pored apartmana imamo jos 2 dvokrevetne sobe i 2 jednokrevetne.
        </p>
      </div>
      <div class="col-4">
        <mat-icon class="d-inline" aria-hidden="false" aria-label="Example home icon">restaurant </mat-icon><h4 class="d-inline">Restoran</h4>
        <br><br>
        <p>
          U sklopu etno domaćinstva Cvetć nalazi se restoran. Koji ima raznovrsnu ponudu domaće hrane i pića. Najveći deo namirnica koristimo od lokanih proizvođača.
        </p>
      </div>
      <div class="col-4">
        <mat-icon class="d-inline" aria-hidden="false" aria-label="Example home icon"> wifi </mat-icon><h4 class="d-inline">Besplatan internet</h4>
        <br><br>
        <p>
          Etno domaćinstvo Cvetić omogućava i pristup besplatnom internetu, tako da ovde mogu raditi ljudi kojima je za posao potreban samo internet. 
        </p>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-5">
        <mat-icon class="d-inline" aria-hidden="false" aria-label="Example home icon">local_grocery_store</mat-icon> <h4 class="d-inline">Domaći proizvodi</h4>
        <br><br>
        <p>
          Takođe etno domaćinstvo Cvetić proizvodi domaće proizvode kao sto su ajvar, raznovrsni dzemovi, zimnica itd. 
          Ovi proizvodi se prave bez dodatka konzervansa od voća i povrća iz sopstvene bašte i voćnjaka.
        </p>
      </div>
      <div class="col-2"></div>
      <div class="col-5">
        <mat-icon class="d-inline" aria-hidden="false" aria-label="Example home icon">pool</mat-icon><h4 class="d-inline"> Otvoren bazen</h4>
        <br><br>
        <p>
          Ovde se nalazi i otvoreni bazen koji dodatno upotpunjuje boravak našim gostima u vrelim letnjim danima.
        </p>
      </div>

    </div>
  </div>


</div>